@font-face {
    font-family: 'Cocogoose';
    src: url(./fonts/Cocogoose.otf);
}

@font-face {
    font-family: 'Arvo';
    src: url(./fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: 'Retro';
    src: url(./fonts/PublicPixel-z84yD.ttf);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0px 20px 0px 20px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cocogoose';
    font-weight: 500;
    color: #11393d;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box; 
    z-index:
     2;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.logo {
    position: relative;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
}

.navLinks {
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 15px;
    font-weight: 700;
    list-style-type: none;
    font-family: Arvo;
}

.link {
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.link:hover {
    /* maybe do like a cool invert negative color thingy*/
    background-color: #1c1c1d;
    color: white;
    scale: 1.07;
}

.footer {
    background-color: #2d3130;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5ABDA8;
    font-size: 12px;
    font-family: "Retro";
}

#home-section1 {
    margin-top: -58px;
    display: flex;
    flex-direction: row;
    height: 750px;
    width: 100%;
    justify-content: space-between;
    background-color: #fcfcfc;
    color: #11393d;
}

#home-section1-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header {
    text-transform: capitalize;
    padding: 25px;
    font-family: 'Retro';
    font-weight: 900;
    font-size: 45px;
}

.fun-fact {
    margin-top: -15px;
    padding: 25px;
    font-family: 'Cocogoose';
    font-size: 14px;
}

#learn-more-btn {
    padding: 5px 10px 5px 10px;
    font-family: 'Retro';
    font-size: 12px;
    background-color: #5ABDA8;
    color: #fcfcfc;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

#learn-more-btn:hover {
    background-color: #274B61;
    scale: 1.15;
}

#home-section1-image {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1594px;
    width: 100%;
    height: 100%;
    border: none;    
}

#home-section2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #11393d;
    color: #fcfcfc;
}

#home-section2-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;  
    background-color: rgb(24, 63, 63);
    border-radius: 10px;
    justify-content: space-evenly;
}

.info-cards {
    display: flex;
    flex-direction: column;
    padding: 50px 25px 25px 25px;
    flex: 1;
    align-items: center;
}

.infoCardTitle {
    padding: 10px;
    text-align: center;
    font-family: 'Retro';
    font-size: 36px;
}

.infoCardInfo {
    margin-top: 20px;
    font-family: 'Cocogoose';
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    text-align: center;
}

.infoCardImage {
    width: 300px;
    height: 300px;
    background-size: cover  ;
    background-repeat: no-repeat;
    border: none;
    border-radius: 7px;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-position: center center;
    cursor: none;
}

.infoCardImage:hover,
.info-btn:hover {
    scale: 1.07;
    box-shadow: 0 0 17px 3px #39c0cc;
}

.info-btn {
    padding: 10px 15px 10px 15px;
    font-family: 'Retro';
    font-size: 16px;
    background-color: #F1C24D;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#water-card {
    background-color: #5ABDA8;
}
#water-title {
    color: #274B61;
}
#water-gif {
    background-image: url(images/Water.gif);
}

#macromolecules-card {
    background-color: rgb(19, 53, 53);
}
#macromolecules-title {
    color: rgb(119, 199, 199);;
}
#macromolecules-gif {
    background-image: url(images/Protein.gif);
}

#dnarna-card {
    background-color: #274B61;
}
#dnarna-title {
    color: rgb(24, 63, 63);
}
#dnarna-gif {
    background-image: url(images/DNA.gif);
}

#water-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -58px;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
}

#water-section1-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 910px;
    height: 100%;
}

#water-section1-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#water-section1-title {
    color: #5ABDA8;
}

#water-section1-fact {
    color: #93beb5;
    margin-left: 25px;
    margin-right: 25px;
}

#water-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fcfcfc;;
}

#water-section2-left {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    background-color: #312e35;
    display: flex;
    flex-direction: column;
}


.section2-left-header {
    color: #5ABDA8;
    font-family: 'Retro';
    font-size: 24px;
    text-align: center;
}

.section2-left-info {
    padding: 25px 75px 25px;
    color: #d6e9e5;
    font-family: 'Cocogoose';
    font-weight: 100;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    height: 100%;
}

.section2-right {
    padding: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fcfcfc;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.section2-right-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.section2-right-img:hover {
    scale: 1.5;
}

.section2-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section2-right-header {
    color: #F5C34D;
    font-family: 'Retro';
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.section2-right-info {
    padding: 20px;
    color: #2d3130;
    font-family: 'Cocogoose';
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    list-style: none;
    height: 100%;
}

li.info:not(:last-child) {
    margin-bottom: 14px;
}

li.info:before {
    content: "\1F846";
}

.section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 750px;
    width: 100%;
}

.section3-left,
.section3-mid,
.section3-right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-left-part {
    width: 15%;
    height: 100%;
    background-color: #312e35;
    display: flex;
    flex-direction: column;
}

.section3-left-part-top,
.section3-left-part-bot {
    z-index: 3; /*this is to make the left part show over ther black bottom line.*/
    width: 100%;
    height: 50%;
}

.section3-left-part-bot {
    background-color: #F1C24D;
}

.section3-mid {
    background-color: #F5C34D;
}

.section3-left, .section3-right{
    background-color: #7EFADC;
}

.section3-header {
    padding: 25px;
    font-family: 'Retro';
    font-size: 24px;
    color: #312e35;
}

#water-section3-left-header {
    color: #F1C24D;
}

.section3-info {
    font-family: 'Arvo';
    font-weight: 700;
    color: #073b2f;
    padding: 0px 25px;
    text-align: left;
    list-style: none;
    
}

.section3-img {
    padding: 25px;
    width: 75%;
    height: auto;   
}

.black-bottom {
    margin-top: -25px;
    z-index: 1;
    width: 100%;
    height: 25px;
    background-color: #2d3130;
}

.section4-header {
    display: flex;
    font-family: 'Retro';
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #274B61;
    color: #5ABDA8;
}

.section4 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #274B61;
    color: #a8e2d6;
}

.section4-sources {
    font-family: 'Cocogoose';
    font-size: 12px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px 0px 25px 75px;
    width: 65%;
    height: 100%;
}

.section4-right {
    width: 35%;
    height: 100%;
}

a {
    color: #F1C24D  ;
}
